[user]
	email = hello@daviddavini.com
	name = David Davini
[status]
	short = true
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = never
[advice]
	detachedHead = false
[alias]
    a = "add"
    b = "branch -q"
    bl = "blame -q"
    bs = "bisect -q"
    c = "commit -q"
    co = "checkout -q"
    cf = "config -q"
    cl = "clone -q"
    cp = "cherry-pick -q"
    d = "diff"
    f = "fetch -q"
    pl = "pull -q"
    l = "log"
    m = "merge -q"
    p = "push -q"
    r = "restore -q"
    rs = "reset -q"
    rb = "rebase -q"
    rt = "remote"
    s = "status"
    sh = "show"
    st = "stash -q"
    sw = "switch -q"
